/***** Base Styles *****/

body {
  font-family: 'Lora', serif;
  color: black;
  border: solid;

}

/***** GRID *****/
.full-width {
	width: 1200px;
	margin: 0 auto;
}
.left-half {
	width: 400px;
	margin: 0 auto;
	float: left;
}
.right-half {
	width: 800px;
	margin: 0 auto;
	float: left;
	
/***** Header *****/
header {
	height: 800px;
	background: url("<img src="https://c5.staticflickr.com/1/398/18165341100_a2f44390d1_z.jpg")
	background-size: cover;
	


